@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Genre Management";
}
<h1>Genre Manager</h1>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td><a class="btn btn-primary" asp-area="Admin" asp-controller="Genre" asp-action="Upsert">Add New Genre</a></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>
                    <div>
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Genre" asp-action="Upsert" asp-route-id="@genre.Id">Edit</a>
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Genre" asp-action="Remove">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>