@model IEnumerable<Game>
@{
    ViewData["Title"] = "Games";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Game List</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Search" asp-controller="Game">Add Game To List</a>
        </div>
    </div>
</div>
<br/><br/>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%"><img src="@obj.ImageUrl" /></td>
                <td width="25%">
                    @obj.Title
                </td>
                <td width="25%">
                    <div class="w-75 btn-group" role="group">
                        <button class="btn btn-danger form-control" onclick="Delete('/Customer/Game/DeletePost/@obj.Id')">Remove</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script>
    function Delete(url) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }else{
                        Swal.fire({
                            title: 'Uh Oh!',
                            text: "Something went wrong! Try again later!",
                            icon: "error"
                        })
                    }
                }
            })
        }
    })
}
</script>
}

